body{
    background-image: url("../images/oldBar.jpeg");
    background-size: cover;
    opacity: .9;
}

.header{
    background-color: beige;
    padding: 5px;
    display: flex;
    color:rgb(85, 45, 31);
}

h1{
    text-align: center;
}

.row{
    background-color:bisque;
    padding: 5px;
}

#button{
    display: flex;
    margin: auto;
    padding: 2px;
    flex-direction: row;
}

h3{
    text-align: center;
}

.container-fluid{
    display:grid;
    row-gap: 15px;
    border-radius: 5px;
}

#split{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}

.col{
    column-gap: 5px;
    width: 33%;
    border-style: solid;
    border-color: rgb(85, 45, 31);
    border-width: 3px;
    padding: 10px;
}

hr{
    color: aliceblue;;
}

footer{
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    border-color:coral;
    border-style: solid;
    border-width: 5px;
    
}